---
import Layout from '../../layouts/Layout.astro';
import LoadingIndicator from 'astro-vtbot/components/LoadingIndicator.astro';
---

<Layout title="Load2">
	<LoadingIndicator slot="head" />
	<h1>Loading Two</h1>
	<a href="/loading/one/" id="click">Click</a>
</Layout>
