---
import { ViewTransitions } from "astro:transitions";

---

<html>
	<head>
		<ViewTransitions/>
	</head>
	<body>
		<h1>Heading</h1>
		<a href="http://127.0.0.1:4321/test/cors/">cors</a>
	</body>
</html>
