---
import MorphLayout from 'src/layouts/MorphLayout.astro';
import Content from 'src/mdx/morph/three.mdx'
const otherPage = '/morph/one/';
---

<MorphLayout title="Morph Page Three" background="#def">
	<p>
		This <a href="javascript:history.go(-2)">link</a> goes back to the first page, animating the
		link there with which you left that page.
	</p>
	<p>And this is what the code looks like:</p>
	<Content/>
	<p>This is a forward <a transition:name="a31" href={otherPage}>link</a> to page one.</p>
	<p>Back to the <a href="javascript:history.back()">previous page</a></p>
</MorphLayout>
<style>
	a {
		display: inline-block;
	}
	p {
		font-family: sans-serif;
		font-size: 1.5rem;
	}
</style>
