:root {
	--vtbot-global-accent: rgb(175, 104, 16);
	background: radial-gradient(circle, #d8e0e8 50%, #f0f8ff 100%);
	--vtbot-gradbg: linear-gradient(300deg, #fff8, #bdf8);
	--vtbot-background-color: whitesmoke;
	background-color: var(--vtbot-background-color);
	--vtbot-color: darkslategray;
	--vtbot-accent: darkblue;
	color: var(--vtbot-color);
	--vtbot-table-background-color: #ececec;
}
.dark {
	display: none;
}
.light {
	display: block;
}
@media (prefers-color-scheme: dark) {
	.light {
		display: none;
	}
	.dark {
		display: block;
	}
	:root {
		background: radial-gradient(circle, #123 50%, #000 100%);
		--vtbot-gradbg: linear-gradient(300deg, rgba(51, 47, 47, 0.8), #012c);
		--vtbot-background-color: #023;
		--vtbot-color: #abc;
		--vtbot-accent: #adf;
		--vtbot-table-background-color: rgb(37, 41, 45);
	}

	.shiki,
	.shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}
