---
import Layout from '../../layouts/Layout.astro';
import ReplacementSwap from 'astro-vtbot/components/ReplacementSwap.astro';
---

<Layout title="Repl3">
	<ReplacementSwap slot="head" />
	<header>Header3</header>
	<main data-vtbot-replace="no main">Main3</main>
	<footer>Footer3</footer>
	<a id="two" href="/repl/two/">two</a>
</Layout>
