---
import Layout from '../../layouts/Layout.astro';
import VtBotDebug from 'astro-vtbot/components/VtBotDebug.astro';
---

<Layout title="Debug2">
	<VtBotDebug slot="head" />
	<h1>Debug 2</h1>
</Layout>
