---
import Layout from '../../layouts/Layout.astro';
import VtBotDebug from 'astro-vtbot/components/VtBotDebug.astro';
---

<Layout title="Debug1">
	<VtBotDebug slot="head" />
	<link rel="stylesheet" href="http://127.0.0.1:4321/main.css" slot="head" />
	<h1>Debug 1</h1>
	<p><a id="debug2" href="/debug/debug2/">Goto Page 2</a></p>
</Layout>
