---
import Layout from '../../layouts/Layout.astro';
import { Content } from 'src/mdx/winter/two.mdx';
---

<Layout title="winter" background="radial-gradient(midnightblue,black)">
	<span id="astro">🚀</span>
	<span id="bell">🔔</span>
	<span id="gift">🎁</span>
	<span id="rocket">🚀</span>
	<span id="snowflake1">❄</span>
	<span id="snowflake2">❄</span>
	<span id="snowflake3">❄</span>
	<span id="penguin">🐧</span>
	<span style="display:none"><span transition:persist="audio"></span></span>
	<main><Content /></main>
</Layout>
<style is:global>
	main {
		max-width: 70vw;
		margin-left: auto;
		font-family: sans-serif;
	}
	section {
		border: 5px groove rgb(107, 93, 10);
		border-right: 0px;
		border-radius: 10px 0 0 10px;
		padding: 0 2ex;
		background-color: #0048;
		margin-bottom: 2vh;
	}
	section:nth-of-type(1) {
		animation: slide 0.5s ease-in-out 3s both;
	}
	section:nth-of-type(2) {
		animation: slide 0.5s ease-in-out 3.5s both;
	}
	section:nth-of-type(3) {
		animation: slide 0.5s ease-in-out 4s both;
	}
	section:nth-of-type(4) {
		animation: slide 0.5s ease-in-out 4.5s both;
	}

	@keyframes slide {
		from {
			transform: translateX(50vw) translateY(10vh);
			opacity: 0;
			display: none;
		}
		to {
			transform: translateX(0) translateY(0vh);
			opacity: 1;
			display: block;
		}
	}

	html body {
		background-size: 100vw 100vh !important;
	}

	[data-astro-transition-fallback='old'] {
		animation: astroFadeOut 1s cubic-bezier(0.76, 0, 0.24, 1) both;
	}
	[data-astro-transition-fallback='new'] {
		animation: astroFadeIn 2.5s cubic-bezier(0.76, 0, 0.24, 1) both;
	}

	::view-transition-group(*) {
		animation-duration: 5s;
	}

	::view-transition-group(snowflake1) {
		animation-delay: 1s;
		animation-duration: 1s;
	}
	::view-transition-group(snowflake3) {
		animation-duration: 2s;
	}
	@keyframes fade {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	html body {
		background-size: auto 100vh !important;
		color: rgb(148, 144, 136);
		overflow-x: hidden;
	}
	#bell {
		view-transition-name: bell;
		position: absolute;
		font-size: min(15vw, 15vh);
		bottom: 10vh;
		left: 10vw;
		transform-origin: 50% 30%;
		transform: scale(0.02);
	}

	#penguin {
		view-transition-name: penguin;
		position: absolute;
		font-size: min(25vw, 15vh);
		bottom: 50vh;
		left: -40vw;
		transform: scale(1);
		animation: updown 2s infinite ease-in-out;
	}

	#gift {
		view-transition-name: gift;
		position: absolute;
		font-size: min(10vw, 10vh);
		bottom: -20vh;
		left: 1vw;
		transform: scale(1);
	}
	#rocket {
		view-transition-name: rocket;
		position: absolute;
		font-size: min(30vw, 30vh);
		top: -50vh;
		right: 50vw;
		transform: rotateZ(-60deg);
	}
	#snowflake2 {
		view-transition-name: snowflake2;
		color: lightblue;
		position: absolute;
		font-size: min(20vw, 20vh);
		bottom: -20vh;
		left: 5vw;
		transform: scale(1);
		animation: turn10 4s infinite ease-in-out;
	}
	#snowflake3 {
		view-transition-name: snowflake3;
		color: white;
		position: absolute;
		font-size: min(20vw, 20vh);
		bottom: -20vh;
		left: 9vw;
		transform: scale(0.5);
		animation: turn10 5s infinite ease-in-out;
	}
	#snowflake1 {
		view-transition-name: snowflake1;
		color: skyblue;
		position: absolute;
		font-size: min(20vw, 20vh);
		bottom: -20vh;
		left: 13vw;
		transform: scale(0.7);
		animation: turn10 3s infinite ease-in-out;
	}
	#astro {
		view-transition-name: astro;
		position: absolute;
		font-size: min(5vw, 5vh);
		top: 0vh;
		transform: rotate(0);
		animation: lr 20s ease-in-out both;
	}
	@keyframes lr {
		0% {
			transform: rotateZ(70deg) translateX(-15vw) translateY(0px);
		}
		50% {
			scale: 0.5;
		}
		100% {
			transform: rotateZ(-10deg) translateX(115vw) translateY(0px);
		}
	}
	@keyframes updown {
		0%,
		100% {
			transform: translateY(35vh);
		}
		90% {
			transform: translateY(0vh);
		}
	}
	@keyframes turn3 {
		0%,
		100% {
			transform: rotateZ(-3deg);
		}
		50% {
			transform: rotateZ(3deg);
		}
	}
	@keyframes turn10 {
		0%,
		100% {
			transform: rotateZ(-10deg);
		}
		50% {
			transform: rotateZ(10deg);
		}
	}
</style>
<script>
	document.addEventListener('astro:page-load', () => stars(50));
	function stars(n: number) {
		if (n === 0) return;
		setTimeout(() => {
			if (!location.pathname.endsWith('/winter/two/')) return;
			let a = document.createElement('a');
			a.href = '/winter/one/';
			a.innerText = Math.random() > 0.9 ? '✨' : '⭐';
			a.style.position = 'absolute';
			a.style.fontSize = 0.5 + Math.random() * 1 + 'vh';
			a.style.top = Math.floor(Math.random() * 100) + 'vh';
			a.style.left = Math.floor(Math.random() * 100) + 'vw';
			document.body.appendChild(a);

			stars(n - 1);
		}, Math.random() * 1000);
	}
</script>
<style is:global>
	a {
		text-decoration: none;
		color: white;
		filter: blur(1px);
		animation:
			blur 5s infinite linear,
			rotate 15s infinite linear;
	}
	@keyframes rotate {
		0% {
			transform: rotateZ(0deg);
		}
		50% {
			transform: rotateZ(180deg);
		}
		100% {
			transform: rotateZ(360deg);
		}
	}
	@keyframes blur {
		0%,
		100% {
			transform: scale(0.1);
			filter: blur(0px);
			opacity: 1;
		}
		50% {
			transform: scale(1);
			filter: blur(1px);
			opacity: 0.5;
		}
	}
</style>
