---
import LoadingLayout from 'src/layouts/LoadingLayout.astro';
import Content from 'src/mdx/loading/two.mdx';
---

<LoadingLayout title="Page Two" background="rgb(190, 181, 190)">
	<a href="/loading/one/">Go to page one</a>
	<Content/>
</LoadingLayout>
