---
import Layout from '../../layouts/Layout.astro';
import VtBotDebug from 'astro-vtbot/components/VtBotDebug.astro';
---

<Layout title="Debug1">
	<VtBotDebug overlay slot="head" />
	<link rel="stylesheet" href="https://w3schools.com/lib/topnav/main.css" slot="head" />

	<h1>Debug 1</h1>
	<p><a id="debug2" href="/debug/debug2/">Goto Page 2</a></p>
</Layout>
