---
import { Image } from 'astro:assets';
import Layout from 'src/layouts/Layout.astro';
import fi from 'src/assets/fi.png';
---

<Layout title="View Transition Bag of Ticks">
	<Image id="fi" src={fi} alt="A single fish" />
	<div class="hit-the-floor">Welcome to the Bag of Tricks for Astro View Transitions</div>
	<span id="ken">🦘</span>
	<a href="/components/" transition:name="reuse">Reusable Components</a>
	<a href="/demos/">Tech Demos</a>
	<div id="outer"><div id="new">New! astro-vtbot 1.0.0 now published on npm!</div></div>
	<div class="fancy">&nbsp;</div>
</Layout>
<style is:global>
	html {
		background: linear-gradient(330deg, #000, rgb(135, 206, 235));
		overflow: hidden;
	}
	body {
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
</style>
<style>
	#outer {
		background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
		border: 18px dotted orange;
		position: absolute;
		bottom: 5vh;
		left: 3vw;
		max-width: 60%;
		transform: rotate3d(10, 4, -3, 10deg);
		border-radius: 50px;
	}

	#new {
		border-radius: 50px;
		background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
		display: inline-block;
		padding: 1ex;
		color: #cff;
		font-weight: bolder;
		font-size: min(4vh, 4vw);
		font-family: sans-serif;
		border: dotted 15px rgba(256, 165, 0, 0.5);
	}

	/* Conic gradient */
	.fancy::before {
		content: '';
		background: conic-gradient(transparent 270deg, rgba(255, 255, 255, 0.3), transparent);
		position: absolute;
		left: -5%;
		aspect-ratio: 1;
		width: 400%;
		animation: rotate 5s linear infinite;
		z-index: -10;
	}

	/* Overlay */

	@keyframes rotate {
		from {
			transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
		}

		to {
			transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
		}
	}
	a {
		font-family: sans-serif;
		display: inline-block;
		font-size: min(5vh, 5vw);
		background: linear-gradient(330deg, orange, #eef);
		color: #444;
		border-radius: 10px;
		padding: 1ex;
		margin-left: 2ex;
		margin-top: 1ex;
		text-decoration: dotted underline;
		z-index: 10;
	}
	#fi {
		z-index: -1;
		position: fixed;
		top: 5vh;
		left: 5vw;
		width: min(25vh, 25vw);
		height: min(25vh, 25vw);
	}
	#ken {
		font-size: min(25vh, 25vw);
		position: fixed;
		bottom: 5vh;
		right: 5vw;
		z-index: -1;
	}

	.hit-the-floor {
		padding: 0 0.5ex;
		color: lightblue;
		font-size: max(9vh, 8vw);
		font-weight: bold;
		font-family: sans-serif;
		text-shadow:
			0 0.005em 0 rgba(0, 0, 0, 0.2),
			0 0.005em 0 currentColor,
			0 0.01em 0 rgba(0, 0, 0, 0.25),
			0 0.01em 0 currentColor,
			0 0.015em 0 rgba(0, 0, 0, 0.3),
			0 0.015em 0 currentColor,
			0 0.02em 0 rgba(0, 0, 0, 0.35),
			0 0.02em 0 currentColor,
			0 0.025em 0 rgba(0, 0, 0, 0.4),
			0 0.025em 0 currentColor,
			0 0.03em 0.005em rgba(0, 0, 0, 0.1),
			0 0 0.025em rgba(0, 0, 0, 0.1),
			0 0.005em 0.015em rgba(0, 0, 0, 0.3),
			0 0.015em 0.025em rgba(0, 0, 0, 0.2),
			0 0.025em 0.05em rgba(0, 0, 0, 0.25),
			0 0.05em 0.05em rgba(0, 0, 0, 0.2),
			0 0.1em 0.1em rgba(0, 0, 0, 0.15);
	}
</style>
