---
import { Image } from 'astro:assets';
import Layout from 'src/layouts/Layout.astro';
import fi from 'src/assets/fi.png';
---

<Layout title="Bag of Tricks for View Transition">
	<meta
		slot="head"
		name="description"
		content="Reusable components, tech demos, and a wealth of in depth information on view transitions"
	/>
	<meta slot="head" name="robots" content="index, follow" />
	<meta
		slot="head"
		property="og:title"
		content="astro-vtbot | Bag of Tricks for View Transitions"
	/>
	<meta slot="head" property="og:type" content="website" />
	<meta slot="head" property="og:image" content="https://events-3bg.pages.dev/social.png" />
	<meta slot="head" property="og:url" content="https://events-3bg.pages.dev/" />
	<meta
		slot="head"
		property="og:description"
		content="Reusable components, tech demos, and a wealth of in depth information on view transitions"
	/>
	<meta slot="head" property="og:locale" content="en_US" />
	<meta
		slot="head"
		property="og:site_name"
		content="astro-vtbot | Bag of Tricks for View Transition"
	/>

	<Image id="fi" src={fi} alt="A single fish" transition:animate="slide" transition:name="fi" />
	<h1 class="hit-the-floor">Welcome to the Bag of Tricks for Astro View Transitions</h1>
	<span id="ken" transition:animate="slide" transition:name="ken">🦘</span>
	<div id="outer">
		<div id="new">
			<a href="https://www.npmjs.com/package/astro-vtbot"
				>astro-vtbot can be installed from npm!<br /><img
					alt="npm"
					id="badge"
					src="https://img.shields.io/npm/v/astro-vtbot?style=plastic&logo=npm&label=astro-vtbot&color=rgba(0%2C200%2C200%2C0.5)"
				/>
			</a>
		</div>
	</div>
	<a href="/components/" transition:name="reuse">Reusable Components</a>
	<a href="/demos/" transition:name="demos">Tech Demos</a>
	<div class="fancy">&nbsp;</div>
	<div style="font-size:min(5vw,5vh); color: white; position:fixed; bottom:1vh; right: 3vw">
		Visit <a
			style="text-decoration: dotted underline; color: coral"
			href="https://github.com/martrapp/astro-vt-bot#bag-of-tricks-for-astros-view-transitions"
			><code>astro-vtbot</code></a
		> on GitHub
	</div>
</Layout>
<style is:global>
	body > a {
		font-family: sans-serif;
		display: inline-block;
		font-size: min(5vh, 5vw);
		background: linear-gradient(330deg, #fa5e, #eefc);
		color: #444;
		border-radius: 10px;
		padding: 1ex;
		margin-left: 2ex;
		margin-top: 1ex;
		text-decoration: dotted underline;
	}
	html {
		background: linear-gradient(330deg, #000, rgb(135, 206, 235));
		overflow: hidden;
	}
	body {
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	::view-transition-new(root),
	::view-transition-old(root) {
		animation-duration: 0s;
	}
</style>

<style>
	h1 {
		margin: 0;
	}
	#badge {
		height: min(5vh, 5vw);
		margin: 0.5rem 0;
	}
	#outer {
		background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
		border: 9px dotted orange;
		position: absolute;
		bottom: 5vh;
		left: 3vw;
		max-width: 60%;
		transform: rotate3d(10, 4, -3, 10deg);
		border-radius: 50px;
	}

	#new {
		border-radius: 50px;
		background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
		display: inline-block;
		padding: 1ex;
		color: #cff;
		font-weight: bolder;
		font-size: min(4vh, 4vw);
		font-family: sans-serif;
		border: dotted 7px rgba(256, 165, 0, 0.5);
	}

	#new a {
		color: #cff;
		text-decoration: dotted underline;
	}
	/* Conic gradient */
	.fancy::before {
		content: '';
		background: conic-gradient(transparent 270deg, rgba(255, 255, 255, 0.3), transparent);
		position: absolute;
		left: -5%;
		aspect-ratio: 1;
		width: 400%;
		animation: rotate 5s linear infinite;
		z-index: -10;
	}

	/* Overlay */

	@keyframes rotate {
		from {
			transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
		}

		to {
			transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
		}
	}
	#fi {
		z-index: -1;
		position: fixed;
		top: 5vh;
		left: 5vw;
		width: min(25vh, 25vw);
		height: min(25vh, 25vw);
	}
	#ken {
		font-size: min(25vh, 25vw);
		position: fixed;
		bottom: 5vh;
		right: 1vw;
		z-index: -1;
	}

	.hit-the-floor {
		padding: 0 0.5ex;
		color: lightblue;
		font-size: max(8vh, 8vw);
		font-weight: bold;
		font-family: sans-serif;
		text-shadow:
			0 0.005em 0 rgba(0, 0, 0, 0.2),
			0 0.005em 0 currentColor,
			0 0.01em 0 rgba(0, 0, 0, 0.25),
			0 0.01em 0 currentColor,
			0 0.015em 0 rgba(0, 0, 0, 0.3),
			0 0.015em 0 currentColor,
			0 0.02em 0 rgba(0, 0, 0, 0.35),
			0 0.02em 0 currentColor,
			0 0.025em 0 rgba(0, 0, 0, 0.4),
			0 0.025em 0 currentColor,
			0 0.03em 0.005em rgba(0, 0, 0, 0.1),
			0 0 0.025em rgba(0, 0, 0, 0.1),
			0 0.005em 0.015em rgba(0, 0, 0, 0.3),
			0 0.015em 0.025em rgba(0, 0, 0, 0.2),
			0 0.025em 0.05em rgba(0, 0, 0, 0.25),
			0 0.05em 0.05em rgba(0, 0, 0, 0.2),
			0 0.1em 0.1em rgba(0, 0, 0, 0.15);
	}
</style>
