---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Component from '~'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to the <span class="text-gradient">Bag of Tricks</span> for Astro's View Transitions</h1>
		<p class="instructions">
			The bag of tricks provides components that demonstrate Astro's View Transition API.
Some of these are technical demos, some are useful tools, and some will evolve into reusable components that you can use in your own project to handle edge cases that go beyond Astro's standard features.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/fish-pond"
				title="The Fish Pond"
				body="ðŸŸ View transition in different directions. (Chrome only, sorry)"
			/>
			<Card
				href="/circular-reveal"
				title="Circular Reveal"
				body="âº The circular reveal view transition from the MDN page on View Transitions."
			/>
			<Card
				href="/timing"
				title="Data & Timing"
				body="â² Visualized data and flow of the transition process."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="ðŸ’™ Come say hi to our amazing Discord community."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		color: white;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: #333;
		padding: 1rem;
		border-radius: 0.4rem;
		color:lightgray;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
