---
import { ViewTransitions } from 'astro:transitions';
import { VtBotDebug } from '~';
---

<html>
	<head>
		<ViewTransitions />
		<VtBotDebug />
	</head>
	<body>
		<h1 id="hash">Hash Change</h1>
		<a href="#hash">Hash Change</a>
	</body>
</html>
