---
import { ViewTransitions } from 'astro:transitions';
import Debug from '~/src/Debug.astro';
---

<html>
	<head>
		<ViewTransitions />
		<Debug />
	</head>
	<body>
		<h1 id="hash">Hash Change</h1>
		<a href="#hash">Hash Change</a>
	</body>
</html>
