---
import { ViewTransitions } from 'astro:transitions';
---

<html>
	<head>
		<ViewTransitions />
	</head>
	<body>
		<h1 id="hash">Replace</h1>
		<a href="" data-astro-history="replace">Replace</a>
		<div style="height:100vh"></div>
		<p>Long page</p>
	</body>
</html>
