---
import Layout from '../../layouts/Layout.astro';
import AutoNameSelected from 'astro-vtbot/components/AutoNameSelected.astro';
---

<Layout title="Selected1">
	<AutoNameSelected slot="head" prefix="one" selector="h1, h3, h5" />
	<AutoNameSelected slot="head" force={false} />
	<AutoNameSelected slot="head" prefix="" selector="h1,h2" />
	<AutoNameSelected slot="head" force={false} prefix="none" selector="body *" />
	<AutoNameSelected slot="head" prefix="" selector="h4,h5" />
	<AutoNameSelected slot="head" force={false} prefix="huch" selector="huch" />
	<h1>Auto Name Selected</h1>
	<h2>A level 2 heading</h2>
	<h3>A level 3 heading</h3>
	<h4>X</h4>
	<h5>Y</h5>
	<h6>Z</h6>
	<h2>Another level 2 heading</h2>
	<h3>Yet another level 3 heading</h3>
	<a href=".">a lonly link</a>
	<h2>The last heading</h2>
	<a id="click" href="/name-selected/two/">two</a>
	<script>
		document.addEventListener('astro:after-swap', () => {
			document.querySelectorAll<HTMLElement>('body > :is(h1,h2,h3,h4,h5,h6,a)').forEach((a) => {
				console.log('test', a.tagName, `'${a.style.viewTransitionName}'`);
			});
		});
	</script>
</Layout>
