---
import BorderLayout from '../../../layouts/BorderLayout.astro';
import BorderControl from 'astro-vtbot/components/BorderControl.astro';
---

<BorderLayout title="Border2">
	<BorderControl fence={{ inside: ['/bor/der1'] }} />
	<h1>Border test</h1>
	<a id="click" href="/bor/der2/target/">click</a>
</BorderLayout>
