---
import CircleLayout from 'src/layouts/CircleLayout.astro';
---

<script>
	import { navigate } from 'astro:transitions/client';
	document.addEventListener('click', (e) => {
		const pathname = location.pathname;
		if (e.target instanceof HTMLElement && e.target.closest('a')) return;
		if (pathname.endsWith('/circular/one/' || pathname.endsWith('/circular/two/'))) {
			navigate(
				location.pathname.endsWith('/circular/one/') ? '../../circular/two/' : '../../circular/one/'
			);
		}
	});
</script>
<style>
	#inst {
		float: right;
		shape-outside: circle(50%);
		background-color: #330;
		color: white;
		border: 3pt solid black;
		border-radius: 50%;
		display: inline-block;
		width: min(50vw, 50vh);
		height: min(50vw, 50vh);
		font-size: 1.5rem;
		padding: 5%;
	}
	#inst a {
		color: white;
	}
</style>
<CircleLayout background="#ddf">
	<p>
		This demo is <a
			href="https://developer.chrome.com/docs/web-platform/view-transitions/#animating-with-javascript"
			>copied from Jake Archibald's excelent article</a
		> on view transitions.
	</p>

	<p id="inst">
		<br /><br />Click somewhere on the page to move on, or <a href="/demos/">here</a> for "back to
		demos"
	</p>
	<p>
		nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
		vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
		sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
		sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
		voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
		sea takimata sanctus est Lorem ipsum dolor sit amet.
	</p>
	<p>
		Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
		illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
		blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum
		dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
		dolore magna aliquam erat volutpat.
	</p>

	<p>
		Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
		aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
		esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
		iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
		nulla facilisi.
	</p>

	<p>
		Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
		placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
		nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
		minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
		commodo consequat.
	</p>
</CircleLayout>
