---
import { ViewTransitions } from 'astro:transitions';
export interface Props {
	title: string;
	lang?: string;
}

const { title, lang = 'en' } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<slot name="head" />
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1, viewport-fit=cover" />
		<link rel="icon" href="/favicon.png" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
