---
import Layout from 'src/layouts/Layout.astro';
---

<Layout title="Hero" color="#654">
	<h1>Hero / <a href="javascript:history.back()">Back</a></h1>
	<img class="hero" transition:name="hero" src="/hero.png" alt="Hero" />
</Layout>
