---
import Layout from 'src/layouts/Layout.astro';
---

<Layout title="Hero" background="#654">
	<h1>Hero / <a href="javascript:history.back()">Back</a></h1>
	<a href="javascript:history.back()"
		><img class="hero" transition:name="hero" src="/hero.png" alt="Hero" /></a
	>
</Layout>
<style>
	.hero {
		display: inline-block;
		width: 800px;
		height: 800px;
	}
</style>
