---
import PrefetchLayout from 'src/layouts/PrefetchLayout.astro';
import Content from "src/mdx/hero-prefetch/overview.mdx"
---

<PrefetchLayout background="#369" title="Overview">
	<h1>Heroes Overview</h1>
	<a href="/hero-prefetch/heroine/"
		><img class="thumb" transition:name="heroine" src="/thumb_heroine.png" alt="Heroine" /></a
	>
	<a href="/hero-prefetch/hero/"
		><img class="thumb" transition:name="hero" src="/thumb_hero.png" alt="Hero" /></a
	>
	<p>
		The thumbnails do not take long to load. If you click on a thumbnail, a page with a larger
		version of the image is displayed. If the larger image is not in the cache, the morph effect
		looks bad. To avoid this, we can retrieve the larger image in advance by using the <code
			>loader</code
		> function of the <code>astro:before-preparation</code> event.
	</p>
	<p>
		The extended version calls the original loader and then preloads the hero image after checking
		the <code>newDocument</code> for the source.
	</p>
	<p>If the larger images are not in your cache, the page may appear to be unresponsive to your click. It would be a good idea to show a loading indicator to signal that the click has been detected, but it takes a second for the next page to occur.</p>

	<Content />
</PrefetchLayout>
<script>
	import {
		TRANSITION_BEFORE_PREPARATION,
		isTransitionBeforePreparationEvent,
	} from 'astro:transitions/client';

	document.addEventListener(TRANSITION_BEFORE_PREPARATION, (event: Event) => {
		if (isTransitionBeforePreparationEvent(event) && event.from.href.endsWith('/overview/')) {
			const originalLoader = event.loader;
			event.loader = async () => {
				await originalLoader();
				const img = new Image();
				img.src = (event.newDocument.querySelector('img[class*="hero"]') as HTMLImageElement).src;
				await new Promise((resolve) => {
					img.onload = img.onerror = resolve;
				});
			};
		}
	});
</script>
<style>
	.thumb {
		display: inline-block;
		width: 100px;
		height: 100px;
	}

	p {
		color: white;
	}
</style>
