---
interface Props {
	pages: string[];
	index: number;
}
const { pages, index } = Astro.props;
---

<p>{pages.map((_, idx) => (idx === index ? '—⚫—' : '—⚪—'))}</p>
<p>
	<a href={index === 0 ? pages[pages.length - 1] : 'javascript:history.back()'} data-carousel-first
		>Previous</a
	> | <a
		href={index === pages.length - 1
			? 'javascript:history.go(-' + (pages.length - 1) + ')'
			: pages[index + 1]}>Next</a
	>
</p>
