---
import { ViewTransitions } from 'astro:transitions';
import { CircleAnimation } from '~';

interface Props {
	color: string;
}
const { color } = Astro.props;
---

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta charset="UTF-8" />
		<ViewTransitions />
		<CircleAnimation />
	</head>
	<body>
		<slot />

		<style is:global define:vars={{ color }}>
			body {
				background-color: var(--color);
				cursor: pointer;
			}
			p {
				font-size: 36pt;
			}
		</style>
	</body>
</html>
