---
import { ViewTransitions } from 'astro:transitions';
import  Linter from 'astro-vtbot/components/Linter.astro';
export interface Props {
	title: string;
	background?: string;
}

const { title, background } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<slot name="head" />
		<ViewTransitions/>
		<Linter />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title + ' | vtbot'}</title>
	</head>
	<body style={'background: ' + background}>
		<slot />
	</body>
</html>
