---
import { ViewTransitions } from 'astro:transitions';
export interface Props {
	title: string;
	color: string;
}

const { title, color } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<slot name="head" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style define:vars={{ color }}>
	body {
		background-color: var(--color);
	}
</style>
