---
import VtBotDebug from '~/components/VtBotDebug.astro';
import MdxLayout from './MdxLayout.astro';
interface Props {
	title: string;
	background: string;
}
const { title } = Astro.props;
---

<MdxLayout title={title}>
	<VtBotDebug overlay production slot="head" />
	<main transition:animate="fade">
		<h1>{title}</h1>
		<h2 id="loading">⏳ Loading...</h2>

		<p>
			This is a page with some text and a link to another page. That next page will take really long
			to load. Therefore there will be a loading indicator.
		</p>
		<slot />
		<div style="height:100vh"></div>
	</main>
</MdxLayout>

<script is:inline>
	document.addEventListener('astro:before-preparation', (event) => {
		const originalLoader = event.loader;
		event.loader = async () => {
			console.log('[loading] Simulating slow load. Waiting 2 seconds');
			await new Promise((resolve) => setTimeout(resolve, 2000));
			await originalLoader();
		};
	});
	document.addEventListener('astro:before-preparation', () => {
		document.querySelector('#loading').classList.add('show');
	});
	document.addEventListener('astro:after-preparation', () => {
		document.querySelector('#loading').classList.remove('show');
	});
</script>

<style is:global>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h2.show {
		border: 2px solid green;
		background-color: lightgreen;
		color: black;
		max-width: 10rem;
		padding: 1rem;
		border-radius: 5px;
		transition: all 0.3s;
		opacity: 1;
		height: initial;
		margin: initial;
		font-size: initial;
	}
	h2 {
		font-size: 0;
		opacity: 0;
		height: 0;
		margin: 0;
		padding: 0;
		border: none;
	}
	html:view-transition(root) {
		animation-duration: 0s;
	}
</style>
