---
import { ViewTransitions } from 'astro:transitions';
const { frontmatter, title } = Astro.props;
import Linter from '~/components/Linter.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<Linter />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{frontmatter?.title ?? title + ' | vtbot'}</title>
		<slot name="head" />
	</head>
	<body>
		<header><a href="javascript:history.back()" style="text-decoration: none">⮌ back</a></header>
		<main>
			<slot />
		</main>
		<footer><a href="javascript:history.back()" style="text-decoration: none">⮌ back</a></footer>

		<style is:global>
			::view-transition-group(*) {
				animation-duration: 0.66s;
			}
			:root {
				background: radial-gradient(circle, #d8e0e8 50%, #f0f8ff 100%);
				--vtbot-gradbg: linear-gradient(300deg, #fff8, #bdf8);
				--vtbot-background-color: whitesmoke;
				background-color: var(--vtbot-background-color);
				--vtbot-color: darkslategray;
				--vtbot-accent: darkblue;
				color: var(--vtbot-color);
				--vtbot-table-background-color: #ececec;
			}
			.dark {
				display: none;
			}
			.light {
				display: block;
			}
			@media (prefers-color-scheme: dark) {
				.light {
					display: none;
				}
				.dark {
					display: block;
				}
				:root {
					background: radial-gradient(circle, #012 50%, #000 100%);
					--vtbot-gradbg: linear-gradient(300deg, rgba(51, 47, 47, 0.8), #012c);
					--vtbot-background-color: #023;
					--vtbot-color: #def;
					--vtbot-accent: #adf;
					--vtbot-table-background-color: rgb(37, 41, 45);
				}

				.shiki,
				.shiki span {
					color: var(--shiki-dark) !important;
					background-color: var(--shiki-dark-bg) !important;
					/* Optional, if you also want font styles */
					font-style: var(--shiki-dark-font-style) !important;
					font-weight: var(--shiki-dark-font-weight) !important;
					text-decoration: var(--shiki-dark-text-decoration) !important;
				}
			}

			a {
				color: var(--vtbot-color);
			}
			main {
				padding: 1ex 3ex;
				color: var(--vtbot-color);
			}

			:root {
				font-family: sans-serif;
			}
			code {
				font-size: 1rem;
				color: var(--vtbot-accent);
			}
			#contents + ul {
				font-family: sans-serif;
				background-color: var(--vtbot-table-background-color);
				padding: 1rem;
				border-radius: 10px;
				border: 1px dashed #ccc;
				box-shadow: 2px 2px 2px #5659;
			}
			#contents + ul,
			#contents + ul ul,
			#contents + ul ul ul {
				margin: 0 0;
				padding: 0.2em  1em;
			}
			#contents + ul,
			#contents + ul li,
			#contents + ul ul li {
				list-style: none;
			}

			#contents + ul a {
				text-decoration: none;
			}
			#contents + ul li::before {
				content: '↪︎ ';
			}

			img {
				margin: auto;
				display: block;
				max-width: 100%;
				height: auto;
				border-radius: 6px;
				border: 1px solid #cccc;
				box-shadow: 2px 2px 2px #cccc;
			}
			pre {
				padding: 1rem;
				border: 1px solid #888;
				border-radius: 6px;
				tab-size: 2;
			}
			td {
				background-color: var(--vtbot-table-background-color);
				font-family: sans-serif;
				font-size: 0.8rem;
				padding: 0.5rem;
			}
			h2,
			h3 {
				margin-top: 2rem;
				margin-bottom: 0.5rem
			}
			body {
				max-width: 840px;
				padding: 3ex;
				margin: 0 auto;
			}
			p {
				hyphens: auto;
			}
		</style>
	</body>
</html>
