---
import { ViewTransitions } from 'astro:transitions';
import Linter from '~/components/Linter.astro';
import 'src/css/light-dark.css';

interface Props {
	frontmatter?: {
		title: string;
		overview?: string;
	};
	title?: string;
}
const { frontmatter, title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<Linter />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1, viewport-fit=cover" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{frontmatter?.title ?? title + ' | vtbot'}</title>
		<slot name="head" />
	</head>
	<body>
		<header><a href="javascript:history.back()">⮌ back</a>
			{frontmatter?.overview && <a href={frontmatter.overview}> | Overview</a>} | <a data-astro-reload href="/">Home</a></header>
		<main>
			<slot />
		</main>
		<footer>
			<a href="javascript:history.back()">⮌ back</a> |
			{frontmatter?.overview && <a href={frontmatter.overview}>Overview |</a>}
			<a href=".">back to top</a>
		</footer>

		<style is:global>
			::view-transition-group(*) {
				animation-duration: 0.66s;
			}

			a {
				color: var(--vtbot-global-accent);
				text-decoration: dotted underline;
			}
			footer a, header a {
				text-decoration: none;
			}
			main {
				padding: 1ex 3ex;
				color: var(--vtbot-color);
			}

			:root {
				font-family: sans-serif;
			}
			code {
				font-size: 1rem;
				color: var(--vtbot-accent);
			}	
			table code {
				font-size: 0.8rem;
				color: var(--vtbot-accent);
			}

			
			#contents + ul {
				font-family: sans-serif;
				line-height: 1.3;
				background-color: var(--vtbot-table-background-color);
				border-radius: 8px;
				border: 1px dashed #ccc;
				box-shadow: 2px 2px 2px #5659;
			}
			#contents + ul {
				padding: 1em;
			}
			#contents + ul ul,
			#contents + ul ul ul {
				margin: 0 0;
				padding: 0em 1em;
			}
			#contents + ul,
			#contents + ul li,
			#contents + ul ul li {
				list-style: none;
			}

			#contents + ul a {
				text-decoration: none;
			}
			#contents + ul li::before {
				content: '↪︎ ';
			}

			img {
				margin: auto;
				display: block;
				max-width: 100%;
				height: auto;
				border-radius: 6px;
				border: 1px solid #cccc;
				box-shadow: 2px 2px 2px #cccc;
			}
			pre {
				padding: 1rem;
				border: 1px solid #888;
				border-radius: 6px;
				tab-size: 2;
			}
			td {
				background-color: var(--vtbot-table-background-color);
				font-family: sans-serif;
				font-size: 0.8rem;
				padding: 0.5rem;
			}
			h2,
			h3 {
				margin-top: 2rem;
				margin-bottom: 0.5rem;
				color: var(--vtbot-global-accent);
			}
			body {
				max-width: 840px;
				padding: 3ex;
				margin: 0 auto;
			}
			p {
				hyphens: auto;
			}
		</style>
	</body>
</html>
