---
import Layout from './Layout.astro';
interface Props {
	title: string;
	background: string;
}
const { title, background } = Astro.props;
---

<Layout title={title} background={background}>
	<h1>{title}</h1>
	<slot />
</Layout>
<script>
	import {
		isTransitionBeforePreparationEvent,
		supportsViewTransitions,
	} from 'astro:transitions/client';

	let viewTransitionName: string;
	document.addEventListener('astro:before-preparation', (event: Event) => {
		// @ts-ignore
		if (
			isTransitionBeforePreparationEvent(event) &&
			supportsViewTransitions &&
			//@ts-ignore
			document.body.computedStyleMap
		) {
			const originalLoader = event.loader;
			event.loader = async () => {
				await originalLoader();
				if (event.navigationType !== 'traverse') {
					viewTransitionName =
						'' + event.sourceElement!.computedStyleMap().get('view-transition-name');
					event.newDocument.querySelector('h1')!.style.viewTransitionName = viewTransitionName;
					history.replaceState({ ...history.state, viewTransitionName }, '');
				} else {
					if (event.direction === 'back') {
						viewTransitionName = history.state.viewTransitionName;
						document.querySelector('h1')!.style.viewTransitionName = viewTransitionName;
					} else {
						event.newDocument.querySelector('h1')!.style.viewTransitionName = viewTransitionName;
						viewTransitionName = history.state.viewTransitionName;
					}
				}
			};
		}
	});
</script>
<style>
	h1 {
		display: inline-block;
	}
	body {
		max-width: 70ch;
		margin: auto;
		padding: 2ch;
	}
</style>
<style is:global>
	::view-transition-group(*) {
		animation-duration: 1s;
	}
</style>
