---
import Layout from './Layout.astro';

interface Props {
	title: string;
	background: string;
}
const { title, background } = Astro.props;
---

<Layout title={title} background={background}>
	<div transition:animate="slide">
		<slot />
	</div>
</Layout>

<style>
	body {
		max-width: 60ch;
		margin: auto;
		padding: 2ch;
	}
	html::view-transition-old(*) {
		animation-duration: 2s;
	}
	html::view-transition-new(*) {
		animation-duration: 2s;
	}
</style>
<script is:inline>
	let position = { left: 0, top: 0 };

	document.addEventListener('astro:after-preparation', () => {
		position = { left: scrollX, top: scrollY };
	});
	document.addEventListener('astro:after-swap', () => {
		scrollTo({ ...position, behavior: 'instant' });
	});
</script>
