---
import MdxLayout from './MdxLayout.astro';
import NoScroll from '~/components/NoScroll.astro';

interface Props {
	title: string;
	background: string;
}
const { title } = Astro.props;
---

<MdxLayout title={title}>
	<NoScroll slot="head"/>
	<div transition:animate="slide">
		<slot />
	</div>
</MdxLayout>

<style is:global>
	body {
		max-width: 60ch;
		margin: auto;
		padding: 2ch;
	}
	::view-transition-old(*) {
		animation-duration: 1s;
	}
	::view-transition-new(*) {
		animation-duration: 1s;
	}

	#fixed {
		view-transition-name: fixed;
		position: fixed;
		bottom: 50vh;
		right: 10px;
		padding: 1rem;
		background: #55f;
	}
	#fixed a {
		color: white;
	}
</style>

