---
import Layout from './MdxLayout.astro';

interface Props {
	title: string;
	background: string;
}
const { title, background } = Astro.props;
---

<Layout title={title} background={background}>
	<div transition:animate="slide">
		<slot />
	</div>
</Layout>

<style is:global>
	body {
		max-width: 60ch;
		margin: auto;
		padding: 2ch;
	}
	::view-transition-old(*) {
		animation-duration: 1s;
	}
	::view-transition-new(*) {
		animation-duration: 1s;
	}
	
	#fixed {
		view-transition-name: fixed;
		color:white;
		position: fixed;
		bottom: 50vh;
		right: 10px;
		padding: 1rem;
		background: #55f;
	}
</style>
<script is:inline>
	let position = { left: 0, top: 0 };

	document.addEventListener('astro:after-preparation', () => {
		position = { left: scrollX, top: scrollY };
	});
	document.addEventListener('astro:after-swap', () => {
		scrollTo({ ...position, behavior: 'instant' });
	});
</script>
