---
import MdxLayout from './MdxLayout.astro';
import Portal from '~/components/Portal.astro';

const { frontmatter } = Astro.props;
---

<MdxLayout {frontmatter}>
	<Portal slot="head" delay="700" {...frontmatter} />
	<div style="view-transition-name: portal">
		<slot />
	</div>
</MdxLayout>

<style is:global>
	div {
		height: 80vh;
		font-size: 1.5rem;
	}
	a {
		color: var(--vtbot-global-accent);
	}
</style>
