---
import Layout from 'src/layouts/FishPondLayout.astro';
---

<Layout title="The Fish Pond Center">
	<h1>This is the Center</h1>

	<div transition:name="fishpond">
		<div class="nav"><a></a><a href="/fish-pond/north/">North</a><a></a></div>
		<div class="nav">
			<a></a><a href="/fish-pond/west/">West</a><a></a>
			<a href="/fish-pond/east/">East</a><a></a>
		</div>
		<div class="nav"><a></a><a href="/fish-pond/south/">South</a><a></a></div>
	</div>
</Layout>
