---
import FishPondLayout from 'src/layouts/FishPondLayout.astro';
---

<FishPondLayout title="The Fish Pond Center">
	<h1>This is the Center</h1>

	<div transition:name="fishpond">
		<div class="nav"><a></a><a href="/fish-pond/north/">North</a><a></a></div>
		<div class="nav">
			<a></a><a href="/fish-pond/west/">West</a><a></a>
			<a href="/fish-pond/east/">East</a><a></a>
		</div>
		<div class="nav"><a></a><a href="/fish-pond/south/">South</a><a></a></div>
	</div>
	<p>
		This demo shows different directions on the same page. Use the back navigation of the browser to
		go in the opposite direction and finally exit this demo back to the main page.
	</p>
	<style>
		p {
			background-color: #fff8;
			max-width: 80vw;
			padding: 1rem;
			font-size: min(4vw,4vh);
			font-family: sans-serif;
		}
	</style>
</FishPondLayout>
