---
import FishPondLayout from 'src/layouts/FishPondLayout.astro';
---

<FishPondLayout title="The Fish Pond East">
	<h1>This is East</h1>
	<div>
		<div class="nav"><a>&nbsp;</a></div>
		<div class="nav">
			<a></a><a href="/fish-pond/center/">West</a>
			<a></a><a></a><a></a>
		</div>
		<div class="nav"><a></a></div>
	</div>
</FishPondLayout>
