---
import FishPondLayout from 'src/layouts/FishPondLayout.astro';
---

<FishPondLayout title="The Fish Pond North">
	<h1>This is North</h1>
	<div class="nav">
		<a></a><a href="/fish-pond/center/" style="view-transition-name: south-link">South</a><a></a>
	</div>
</FishPondLayout>
