---
import Layout from 'src/layouts/FishPondLayout.astro';
---

<Layout title="The Fish Pond North">
	<h1>This is North</h1>
	<div class="nav">
		<a></a><a href="/fish-pond/center/">South</a><a></a>
	</div>
</Layout>
