---
import FishPondLayout from 'src/layouts/FishPondLayout.astro';
---

<FishPondLayout title="The Fish Pond South">
	<h1>This is South</h1>
	<div class="nav">
		<a></a><a href="/fish-pond/center/">North</a><a></a>
	</div>
</FishPondLayout>
