---
import FishPondLayout from 'src/layouts/FishPondLayout.astro';
---

<FishPondLayout title="The Fish Pond West">
	<h1>This is West</h1>
	<div>
		<div class="nav"><a>&nbsp;</a></div>
		<div class="nav">
			<a></a><a></a><a></a>
			<a href="/fish-pond/center/">East</a><a></a>
		</div>
		<div class="nav"><a></a></div>
	</div>
</FishPondLayout>
