---
import NoResetLayout from '../../layouts/NoResetLayout.astro';
---

<NoResetLayout title="No Reset Page Two">
	<h1 data-swap="heading">Banner Page Two</h1>
	<p><a data-swap="link" href="/noreset/three/">&nbsp;[Goto page three]&nbsp;</a></p>
	<div class="sky" transition:persist="sky">
		<div class="sun"></div>
		<iframe src="https://wikipedia.com"></iframe>
	</div>
	<main data-swap="main">
		<p>
			The animation re-started on the right side of the screen and the iframe has lost all its
			state.
		</p><p>
			While <code>transition:persist</code> generelly works fine and can keep the state of almost all
			HTML elements, animation state and iframe state are its Achilles' heel.
		</p>

		<p>
			Let's try something else when transitioning to the next page: Again, enter a search term in
			the iframe, then wait for the circle being near the left edge of the screen, then hit the link
			to the next page. The iframe should keep its state now.
		</p>
	</main>
</NoResetLayout>
<script>
	import { TRANSITION_BEFORE_SWAP, isTransitionBeforeSwapEvent } from 'astro:transitions/client';

	document.addEventListener(TRANSITION_BEFORE_SWAP, (event: Event) => {
		if (
			isTransitionBeforeSwapEvent(event) &&
			(event.from.pathname === '/noreset/two/' || event.from.pathname === '/noreset/three/')
		) {
			event.swap = () => {
				event.newDocument.querySelectorAll('[data-swap]').forEach((element: Element) => {
					const name = element instanceof HTMLElement && element.dataset.swap;
					document.querySelector(`[data-swap="${name}"]`)?.replaceWith(element);
				});
			};
		}
	});
</script>
