---
import Layout from '../../layouts/Layout.astro';
import Linter from 'astro-vtbot/components/Linter.astro';
---

<Layout title="Linter6">
	<Linter slot="head" />
	<main style="view-transition-name: b">
	<h1>Linter 6</h1>
	<p style="view-transition-name:b;">Some content</p>
	<a href="/linter/five/" transition:name="b">To page 5</a>
	</main>
</Layout>
