---
import NoResetLayout from 'src/layouts/NoResetLayout.astro';
import Content from 'src/mdx/no-reset/four.mdx';
---

<NoResetLayout title="No Reset Page Three">
	<h1 data-swap="heading">Banner Page Three</h1>
	<p><a data-swap="link" href="/no-reset/three/">&nbsp;[Goto to Page Three]&nbsp;</a></p>
	<div class="sky" transition:persist="sky">
		<iframe src="https://wikipedia.com"></iframe>
		<div class="sun"></div>
	</div>
	<main data-swap="main">
		<p>
			The approach taken here is much simpler but less automatic. There are three elements that
			differ between page two and page three: The heading, the link, and the main text at the
			bottom. Theses are marked with <code>data-swap="unique-name"</code>. Then this demo indeed use
			the <code>astro:before-swap</code> event to define a new implementation for <code>swap()</code
			> that overwrites the marked elements in the current DOM with the coressponing elements from
			newDocument and leaves everything else as it is.
		</p>
		<Content/>
		<p>
			Seen that the title of the browsers tab is still on page two? So we swapped those three marked
			elements in, but we didn't yet swap the HTML <code>&lt;head></code> with the title, yet :)
		</p>

	</main>
</NoResetLayout>

