---
import NoResetLayout from 'src/layouts/NoResetLayout.astro';
---

<NoResetLayout title="No Reset One">
	<h1 data-swap="heading">Banner Page One</h1>
	<p><a data-swap="link" href="/no-reset/two/">&nbsp;[Goto page two]&nbsp;</a></p>
	<div class="sky" transition:persist="keep">
		<iframe src="https://wikipedia.com"></iframe>
		<div class="sun"></div>
	</div>
	<main data-swap="main">
		<p>
			This is a page that features an infinite animation and an iframe. Both sit in an element that
			is anotated with <code>transition:persist="keep"</code>. So they will appear on the next page,
			and their state should be taken over.
		</p><p>
			Enter some search term in the iframe. Wait for the circle to be on the left side of the
			screen. Now klick the link at the top of the page to navigate to the next page and watch.
		</p>
	</main>
</NoResetLayout>
