---
import NoResetLayout from 'src/layouts/NoResetLayout.astro';
---

<NoResetLayout title="No Reset Page Two">
	<h1 data-swap="heading">Banner Page Two</h1>
	<p><a data-swap="link" href="/no-reset/three/">&nbsp;[Goto page three]&nbsp;</a></p>
	<div class="sky" transition:persist="sky">
		<iframe src="https://wikipedia.com"></iframe>
		<div class="sun"></div>
	</div>
	<main data-swap="main">
		<p>
			The animation re-started on the right side of the screen and the iframe has lost all its
			state. <span style="color: darkslategray; font-weight: 800;">☹</span>
		</p><p>
			While <code>transition:persist</code> generelly works fine and can keep the state of almost
			all HTML elements, animation state and iframe state are its Achilles' heel.
		</p>

		<p>
			Let's try something else when transitioning to the next page: Again, enter a search term in
			the iframe, then wait for the circle being near the left edge of the screen, then hit the link
			to the next page. The iframe should keep its state now.
		</p>
	</main>
</NoResetLayout>
