---
import CarouselLayout from 'src/layouts/CarouselLayout.astro';
---

<CarouselLayout
	title="Page Four"
	background="lightsteelblue"
	index={3}
	pages={['/carousel/one/', '/carousel/two/', '/carousel/three/', '/carousel/four/']}
>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sed praesentium alias quod tenetur?
		Reiciendis expedita rem repellat unde aperiam laborum quos fugiat ipsam et dignissimos.
		Repellendus aspernatur aliquam facilis?
	</p>
</CarouselLayout>
