---
import CarouselLayout from 'src/layouts/CarouselLayout.astro';
---

<CarouselLayout
	title="Page One"
	background="powderblue"
	index={0}
	pages={['/carousel/one/', '/carousel/two/', '/carousel/three/', '/carousel/four/']}
>
	<p>This page demonstrates several techniques:</p><ul>
		<li>
			Mixing normal navigation links with links that call the <code>history.back()</code> and <code
				>history.go()</code
			> history functions.
		</li><li>
			Accessing properties of the navigations source element to distinguish between navigations
			initiated by <code>Previous</code> and <code>Next</code>
		</li><li>
			Deriving the direction of the view transition from comparing the current values of <code
				>event.from</code
			> and <code>event.to</code>
		</li>
		<li>
			Adding intermediate history states when selecting <code>Previous</code> on the first entry
		</li>
		<li>
			Setting the value of <code>event.to</code> to redirect ot a different page.
		</li>
	</ul>
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sint temporibus quo quaerat
		quam adipisci. Quibusdam, doloribus dolorem. Provident ut dolore, necessitatibus aut minus
		impedit. Neque corrupti sit doloremque maxime?
	</p>
</CarouselLayout>
<style is:global>
	body {
		background: powderblue;
	}
</style>
