---
import CarouselLayout from 'src/layouts/CarouselLayout.astro';
---

<CarouselLayout
	title="Page Three"
	background="powderblue"
	index={2}
	pages={['/carousel/one/', '/carousel/two/', '/carousel/three/', '/carousel/four/']}
>
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate tempore soluta vel
		molestiae facilis deserunt possimus fugiat dignissimos dolorum earum saepe sed consectetur iusto
		voluptatibus omnis aspernatur, reprehenderit qui voluptate?
	</p>
</CarouselLayout>
