---
import CarouselLayout from 'src/layouts/CarouselLayout.astro';
---

<CarouselLayout
	title="Page Two"
	background="lightsteelblue"
	index={1}
	pages={['/carousel/one/', '/carousel/two/', '/carousel/three/', '/carousel/four/']}
>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quia recusandae asperiores
		veritatis provident saepe expedita cum nostrum labore praesentium officia accusantium suscipit
		nam nihil hic, doloribus repudiandae porro neque!
	</p>
</CarouselLayout>
