---
import Layout from '../../layouts/Layout.astro';
import Linter from 'astro-vtbot/components/Linter.astro';
---

<Layout title="Linter11">
	<Linter expanded slot="head" />
	<main>
		<h1>Linter 11</h1>
		<a id="totwelve" href="/linter/twelve/">To page 12</a>
	</main>
</Layout>
