---
import Layout from '../../layouts/Layout.astro';
import Linter from 'astro-vtbot/components/Linter.astro';
---

<Layout title="Linter5">
	<Linter expanded slot="head" />
	<main >
	<h1 transition:name="a">Linter 5</h1>
	<p transition:name="a">Some content</p>
	<a id="tosix" href="/linter/six/">To page 6</a>
	</main>
</Layout>
