---
import Layout from '../../layouts/Layout.astro';
import Linter from 'astro-vtbot/components/Linter.astro';
---

<Layout title="Linter1">
	<Linter expanded slot="head" />
	<main transition:persist="a">
	<h1>Linter 1</h1>
	<p transition:persist="b">Some content</p>
	<a id="totwo" href="/linter/two/">To page 2</a>
	</main>
</Layout>
