---
import Layout from '../../layouts/Layout.astro';
import Linter from 'astro-vtbot/components/Linter.astro';
---

<Layout title="Linter3">
	<Linter expanded slot="head" />
	<main>
		<h1 transition:persist="a">Linter 3</h1>
		<p transition:persist="a">Some content</p>
		<a id="tofour" href="/linter/four/">To page 4</a>
	</main>
</Layout>
