---
import Layout from '../../layouts/Layout.astro';
import Linter from 'astro-vtbot/components/Linter.astro';
---

<Layout title="Linter2">
	<Linter expanded slot="head" />
	<main data-vtbot-replace="a">
	<h1>Linter 2</h1>
	<p data-vtbot-replace="b">Some content</p>
	<a href="/linter/one/">To page 1</a>
	</main>
</Layout>
